@media (max-width: 768px) {
    .menu-lateral {
        width: 100%; /* Ajusta a largura do menu lateral para 100% */
        height: auto; /* Altera a altura para auto para se adaptar ao conteúdo */
        position: relative; /* Faz com que o menu lateral não fique fixo */
        border-radius: 0; /* Remove o arredondamento */
        box-shadow: none; /* Remove a sombra para uma aparência mais limpa */
    }

    .container {
        margin-left: 0; /* Remove a margem esquerda */
        padding: 10px; /* Adiciona um padding menor para dispositivos pequenos */
    }

    .tab-content {
        padding: 10px; /* Adiciona padding nas abas para melhor visualização */
        border-radius: 10px; /* Arredonda as bordas das abas */
        background-color: #27272a; /* Define uma cor de fundo para as abas */
    }
}