@media (max-width: 768px) {
    .menu-lateral {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 0;
        box-shadow: none;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-lateral ul {
        width: 100%;
        padding: 0;
    }

    .menu-lateral li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .container {
        margin-left: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .tab-content {
        padding: 10px;
        border-radius: 10px;
        background-color: #27272a;
        margin-bottom: 20px;
    }


    .btn {
        width: 100%;
        margin-top: 10px;
    }
}
