:root {
    --primary-color: #4f46e5;
    --secondary-color: #2ecc71;
    --text-color: #e0e7ff;
    --background-gradient: linear-gradient(120deg, #0d0d0d 60%, #1a1a1a);
    --background-image: url('src/imagens/fundo.jpg');
}


body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-gradient), var(--background-image) no-repeat center fixed;
    background-size: cover;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header, footer {
    background: var(--background-gradient), var(--background-image) no-repeat center fixed;
    background-size: cover;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

header p, footer {
    font-size: 1.2em;
    margin: 10px 0 0;
}


.menu-lateral {
    position: fixed;
    width: 200px;
    height: 50%;
    background: var(--background-gradient), var(--background-image) no-repeat center fixed;
    background-size: cover;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
}

.menu-lateral li {
    margin: 20px 0;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s;
    border-radius: 8px;
}

.menu-lateral li:hover {
    background-color: var(--primary-color);
    border-radius: 12px;
}


.container {
    margin-left: 240px;
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.result {
    background-color: #27272a;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    max-width: 500px;
    width: 90%;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
}

.imagens-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.imagens-container.show {
    opacity: 1;
}

.imagem-result {
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.imagem-result:hover {
    transform: scale(1.05);
}


.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 15px;
    display: inline-block;
}

.btn:hover {
    background-color: #3730a3;
    transform: scale(1.02);
}

#fumigacao-silo .result {
    background-color: #27272a;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    max-width: 500px;
    width: 90%;
    margin: 30px auto;
    transition: all 0.3s ease-in-out;
}

#fumigacao-silo input {
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    width: 90%;
    max-width: 200px;
}

#diametro-result {
    margin-top: 10px;
    color: var(--text-color);
}


#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.profile-img {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    order: -1;
}

#sobre p {
    font-size: 1.1em;
    line-height: 1.6;
}

@media (min-width: 768px) {
    #sobre {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .profile-img {
        margin: 0 20px;
    }
}


#trabalhos {
    padding: 20px;
}

#trabalhos h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.trabalho {
    margin-bottom: 20px;
}

.trabalho h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.trabalho p {
    font-size: 1.1em;
    line-height: 1.6;
}


.social-links {
    margin-top: 10px;
}

.social-link {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: var(--primary-color);
}
