.contador-visitantes {
  background: rgba(139, 92, 246, 0.2);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(139, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 15px 30px rgba(139, 92, 246, 0.3);
  text-align: center;
  max-width: 250px;
  margin: 3rem auto;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contador-visitantes:hover {
  transform: scale(1.03);
  box-shadow: 0 20px 40px rgba(139, 92, 246, 0.4);
}

.contador-visitantes h1 {
  font-size: 1.0rem;
  margin-bottom: 0.8rem;
  letter-spacing: 1px;
}

.contador-visitantes #contador {
  font-size: 2.0rem;
  font-weight: bold;
  animation: pulseGlow 3s infinite;
}

@keyframes pulseGlow {
  0%{
      text-shadow: 0 0 5px #c084fc,0 0 10px #a78bfa;
      transform: scale(1);
  }
  50%{
     text-shadow: 0 0 15px #d8b4fe,0 0 25px #c084fc;
     transform: scale(1.05);
  }
  100%{
        text-shadow: 0 0 5px #c084fc,0 0 10px #a78bfa;
        transform: scale(1);
  }
}