# Default ignored files
/shelf/
/workspace.xml
# Ignorar credenciais do Firebase
firebase-config.js
.env

# Ignorar dependências do Node.js
node_modules/
package-lock.json

# Ignorar arquivos do editor (caso use o IntelliJ)
.idea/

# Ignorar logs e arquivos temporários
*.log
